<h1>Great!  You're an adviser.  You've joined all these current advisers: </h1>

<div class="list-group" id="adviser_list">
	<% @advisers.each do |adviser| %>
		<a href="/advisers/<%= adviser.id %>" class="list-group-item"><%= adviser.user.name %></a>
	<% end %>
</div>

<div>
	<h2>Now, you can connect with a protégé (or many protégés)...</h2>
	<a href="/relationships/:id/protege"><button class="btn btn-success btn-lg">Find a protégé to advise</button></a>
</div>