
<br>
<h2>Didn't find the adviser you were looking for? Here's the full list of advisers:</h2>
<div class="list-group">
	<% @advisers = Adviser.all %>
	<% @advisers.each do |adviser| %>
		<a href="/advisers/<%= adviser.id %>" class="list-group-item"><%= adviser.user.name %><br><%= adviser.user.industry %></a><br>
	<% end %>
</div>