<h2>One more thing to do before you start...<br> 
	you need to become a protégé or adviser.
</h2>
<a href="/proteges/new"><button class="btn btn-info">Become a protégé</button></a>
<a href="/advisers/new"><button class="btn btn-primary">Become an adviser</button></a>