<h2>One more thing to do before you start...<br> 
	you need to become a protégé or adviser.
</h2>
<%= link_to "Become a protégé", new_protege_path %>
<%= link_to "Become an adviser", new_adviser_path %>