<h1>Welcome, <%= @user.name %>!</h1>

<h2>The first thing to do is create a profile. Provide the required information (marked with *). </h2>
</h2> <!-- Eventually I'll include "or simply port your LinkedIn information." -->

<%= render "form" %>