<h1>Welcome, <%= @user.name %>!</h1>

<h2>The first thing to do is create a profile. Provide the required information (marked with *) or simply port your LinkedIn information.</h2>
</h2>

<%= render "form" %>