<h1>Become a protégé...</h1><br>
<h2>Provide the required information (marked with *) </h2> <!--Eventually I'd like to include this: "or simply port your LinkedIn information." -->
<%= render "form" %>
